body {background-image: url("https://img.fril.jp/shop/3365367/l/3365367.jpg?1493952815");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;}

#popup {
  background: white;
  padding: 30px;
  max-width: 500px;
  width: 90%;
  border-radius: 16px;
  text-align: center;
}

}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

#popup img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

#popup button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
}
