body {background-image: url("https://img.fril.jp/shop/3365367/l/3365367.jpg?1493952815");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;}

#popup {
  background: white;
  padding: 30px;
  max-width: 500px;
  width: 90%;
  border-radius: 16px;
  text-align: center;
}
}

#popup img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

#popup button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
}
